{% extends "base.twig" %}

{% block head %}
    <title>Game | PuzzleMania</title>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block name %}Game{% endblock %}

{% block header %}
    <!-- Dropdown -->
    <div class="dropdown">
        <!-- Email -->
        <button class="dropbtn">
            {% if email is not defined %}
                Menu
            {% else %}
                {{ email }}
            {% endif %}
        </button>
        <!-- Logout suboption -->
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/profile">Your Profile</a>
            <a href="/team-stats">Team Stats</a>
            <a href="/riddle">List riddles</a>
            <a href="/log-out">Logout</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p data-cy="team-stats__message" class="error">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    <div class = "parent-content">
        <div class = "content">
            <div class = "page" style = "background: white; padding: 40px 130px; border-radius: 10px; border: 2px solid #000;">

                {% if start == 1 %}
                    <form data-cy="game" action="{{ formAction }}" method="POST" id="game" accept-charset="utf-8" style="text-align: center;" onsubmit="myFunction()">
                        <h1 style="text-align: center;">{{ teamName }}</h1>
                        <h2><br><b>Read the instructions</b></h2>
                        <p><br><b>The game consists on 3 riddles, which you need to guess to earn points.
                                For every guessed riddle you'll earn 10 points, but you'll lose 10 points for each mistaken answer.</b></p>
                        <div class="form-group row">
                            <input data-cy="game__btn" type="submit" value="{{ buttonName }}" class="submit-button">
                        </div>
                    </form>
                {% elseif endGame == 0 %}
                    {% if guessRiddle == 1 %}
                        <form data-cy="game" action="{{ formAction }}" method="POST" id="game" accept-charset="utf-8" style="text-align: center;">
                            <h2><br><b>{{ actualRiddle.riddle }}</b></h2>
                            <input data-cy="game__riddle-answer" type="text" name="answer" placeholder="Enter your answer"
                                   value="" id="answer">
                            <div class="form-group row">
                                <input data-cy="game__btn" type="submit" value="{{ buttonName }}" class="submit-button">
                            </div>
                        </form>
                    {% else %}
                        <h2><br><b><u>Riddle:</u> {{ actualRiddle.riddle }}</b></h2>
                        <h3><br><u>Expected answer:</u> {{ actualRiddle.answer }}</h3>

                        {% if points < 0 %}
                            <h3 style = "color: red; "><br><u>Your answer:</u> "{{ userAnswer }}"</h3>
                            <p style="color: red; "><br><b>Your answer wasn't correct. You lost {{ points }} points.</b></p>
                        {% else %}
                            <p style="color: green; "><br><b>Good job, your answer is correct. You won {{ points }} points.</b></p>
                        {% endif %}
                        <div style = "margin-top: 15px; font-size: 13px;">
                            <a href="{{ formAction }}">{{ buttonName }}</a>
                        </div>
                    {% endif %}
                {% else %}
                    <h1 style="text-align: center;"><u>END OF GAME</u></h1>
                    <h2 style="text-align: center;">You have earned a total of {{ points }} points.</h2>
                    {% if points > 0 %}
                        <p style="color: green; "><br><b>Good job! The points will be added to your team '{{ teamName }}' score.</b></p>
                    {% else %}
                        <p style="color: red; "><br><b>Your team '{{ teamName }}' earned no points. Good luck next time :(</b></p>
                    {% endif %}
                    <div style = "margin-top: 15px; font-size: 13px;">
                        <a href="{{ formAction }}">{{ buttonName }}</a>
                    </div>
                {% endif %}

            </div>
            {% if start == 0 and endGame == 0 %}
                <h2 style="text-align: center;">You currently have {{ totalPoints }} points.</h2>
                {% if guessRiddle == 1 %}
                    <p style="text-align: center;">Guess this riddle and earn 10 points.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}