{% extends "base.twig" %}

{% block head %}
    <title>Home | PuzzleMania</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block header %}
    <nav class="navbar">
        <!-- Logo and text -->
        <div class="navbar-logo">
            <img src="{{ full_url_for('home') }}assets/images/logo.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%; margin-right: 10px;">
            Home
        </div>
        <!-- Dropdown -->
        <div class="dropdown">
            <button class="dropbtn">
                {% if email is not defined %}
                    Menu
                {% else %}
                    {{ email }}
                {% endif %}
            </button>
            <div class="dropdown-content">
                {% if email is not defined %}
                    <a href="/sign-in">Sign in</a>
                    <a href="/sign-up">Sign up</a>
                    <a href="/riddle">List riddles</a>
                {% else %}
                    <a href="/profile">Your Profile</a>
                    {% if team is not defined or team is null %}
                        <a href="/join">Join a Team</a>
                    {% else %}
                        <a href="/team-stats">Your Team Stats</a>
                        <a href="/game">Start a game</a>
                    {% endif %}
                    <a href="/riddle">List riddles</a>
                    <a href="/log-out">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p data-cy="home__message" class="error">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    <div class = "parent-content">
        <div class = "content">
            <h1 data-cy="home__welcomeMsg" style = "text-align: center; ">Hello {{ username }}!</h1>
            <p class="info">
                Here in PuzzleMania you can create riddles, join a team and guess riddles together with
                your teammates, all with the purpose to solve a mystery puzzle.
            </p>
            <p class="info">
                Come on! We count on you :)
            </p>
            <br>
            <h3 class="title-info">Here are the main features of the webpage: </h3>

            <div class ="feature-item"><a href="/join">Join a Team.</a></div>
            <div class ="feature-item"><a href="/team-stats">Watch your Team stats to know how you're doing.</a></div>
            <div class ="feature-item"><a href="/profile">Watch your profile and change your profile picture.</a></div>
            <div class ="feature-item"><a href="/game">Start a game with 3 riddles and get a score that will be added to your team stats.</a></div>
            <div class ="feature-item"><a href="/riddle">List riddles.</a></div>
        </div>
    </div>


{% endblock %}




