{% extends "base.twig" %}

{% block head %}
    <title>Join Team | PuzzleMania</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
{% endblock %}

{% block header %}
    <nav class="navbar">
        <!-- Logo and text -->
        <div class="navbar-logo">
            <img src="{{ full_url_for('home') }}assets/images/logo.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%; margin-right: 10px;">
            Join a Team
        </div>
        <!-- Dropdown -->
        <div class="dropdown">
            <button class="dropbtn">
                {% if email is not defined %}
                    Menu
                {% else %}
                    {{ email }}
                {% endif %}
            </button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/profile">Your Profile</a>
                <a href="/riddle">List riddles</a>
                <a href="/log-out">Logout</a>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p class="error">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="column main-container">
            <h2>Join a Team</h2>
            {% if teams is not empty %}
                <form action="/join" method="POST">
                    {% for team in teams %}
                        <input type="radio" name="team" id="{{ team.getTeamId() }}" value="{{ team.getTeamId() }}">
                        <label for="team" class="team-label">{{ team.getTeamName() }}</label>
                        <br/>
                    {% endfor %}
                    <input type="submit" name="joinTeam" class="submit-button" value="Join Team">
                </form>
            {% else %}
                <p>No incomplete teams. You can only create your own team.</p>
            {% endif %}
            {% if notifs_join is not empty %}
                {% for notif in notifs_join %}
                    <p class="error">{{ notif }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="column main-container">
            <h2>Create a Team</h2>
            <form action="/join" method="POST">
                <label for="teamName">Team Name</label>
                <br/>
                <input type="text" name="teamName" id="teamName" placeholder="Enter team name" class="form-control">
                <br/>
                <input type="submit" name="joinTeam" class="submit-button" value="Create Team">
            </form>
            {% if notifs_create is not empty %}
                {% for notif in notifs_create %}
                    <p class="error">{{ notif }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>




{% endblock %}