{% extends "base.twig" %}

{% block head %}
    <title>Riddles | LSCoins</title>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block title %} Show riddles {% endblock %}

{% block header %}
    <!-- Dropdown -->
    <div class="dropdown">
        <!-- Email -->
        <button class="dropbtn">
            {% if email is not defined %}
                Menu
            {% else %}
                {{ email }}
            {% endif %}
        </button>
        <!-- Logout suboption -->
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/profile">Your Profile</a>
            {% if team is not defined or team is null %}
                <a href="/join">Join a Team</a>
            {% else %}
                <a href="/team-stats">Your Team Stats</a>
                <a href="/game">Start a game</a>
            {% endif %}
            <a href="/log-out">Logout</a>
        </div>
    </div>
{% endblock %}

{% block name %}
    {% if riddleCount == 0 %}
        Show riddle: {{ idRiddle }}
    {% else %}
        Show all riddles
    {% endif %}
{% endblock %}

{% block content %}

    {% if (riddleCount == 1 or riddleCount == 0) %}
        {% set text = "Riddle" %}
    {% else %}
        {% set text = "Riddles" %}
    {% endif %}

    {% if riddles is empty %}
        <div class="box" id="riddles-empty">
            <div style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                <p style="color: red;"><b>{{ text }} not found</b></p>
            </div>
        </div>
    {% else %}
        <div class="box" id="riddles-list">

            {% for riddle in riddles %}
                <div style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                    {% if riddleCount == 0 %}
                        <p style="color: red;"><b>{{ text }} not found</b></p>
                    {% elseif riddleCount == 1 %}
                        <p><b>Riddle:</b> {{ riddle }}</p>
                    {% else %}
                        <p><b>Riddle #{{ loop.index }}:</b> {{ riddle }}</p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    {% endif %}
{% endblock %}



