{% extends "base.twig" %}

{% block head %}
    <title>Riddles | LSCoins</title>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block title %} Show riddles {% endblock %}

{% block header %}
    <!-- Dropdown -->
    <div class="dropdown">
        <!-- Email -->
        <button class="dropbtn">
            {% if email is not defined or email is null %}
                Menu
            {% else %}
                {{ email }}
            {% endif %}
        </button>
        <!-- Logout suboption -->
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/profile">Your Profile</a>
            {% if team is not defined or team is null %}
                <a href="/join">Join a Team</a>
            {% else %}
                <a href="/team-stats">Your Team Stats</a>
                <a href="/game">Start a game</a>
            {% endif %}
            <a href="/log-out">Logout</a>
        </div>
    </div>
{% endblock %}

{% block name %}
    {% if riddleCount == 0 %}
        Show riddle: {{ idRiddle }}
    {% else %}
        Show all riddles
    {% endif %}
{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p data-cy="team-stats__message" class="error">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    {% if riddles is empty %}
        <p class="box" id="riddles-empty">There aren't any riddles</p>
    {% else %}
            <ul class="box no-list-style" id="riddles-list">
                {% for riddle in riddles %}
                    <li style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                        {% if oneRiddlePage %}
                            <p><b>Riddle:</b> {{ riddle.riddle }}</p>
                            <p><b>Answer:</b> {{ riddle.answer }}</p>
                            <p><b>Created by:</b> {{ user }}</p>
                        {% else %}
                            <a href="/riddle/{{ riddle.id }}">
                                <p><b>Riddle #{{ riddle.id }}:</b> {{ riddle.riddle }}</p>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}



