{% extends "base.twig" %}

{% block head %}
    <title>Sign-up | PuzzleMania</title>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/authentication.css"/>
{% endblock %}

{% block name %}Sign up here!{% endblock %}

{% block header %}
    <div class="dropdown">
        <button class="home-button">
            <a href="/">Go to Landing Page</a>
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class = "box auth-container">
        <h1>Register</h1>
        <form data-cy="sign-up" action="{{ formAction }}" method="POST" id="register" accept-charset="utf-8">
            <label for="email">Email</label>
            <br/>
            <input data-cy="sign-up__email" type="text" name="email" placeholder="Enter your email"
                       value="{{ formData.email }}">
            {% if formErrors['email'] %}
                <p data-cy="sign-up__wrongEmail" class="error">{{ formErrors['email'] }}</p>
            {% endif %}
            <br/>
            <label for="password"> Password</label>
            <br/>
            <input data-cy="sign-up__password" type="password" name="password" placeholder="Enter your password">
            <br/>
            <label for="repeatPassword"> Repeat Password </label>
            <br/>
            <input data-cy="sign-up__repeatPassword" type="password" name="repeatPassword"
                   placeholder="Repeat your password">
            {% if formErrors['password'] %}
                <p data-cy="sign-up__wrongPassword" class="error">{{ formErrors['password'] }}</p>
            {% endif %}
            <br/>
            <input data-cy="sign-up__btn" type="submit" value="Sign-up">
        </form>
        <br/>
        <a class="auth-switch" href="/sign-in">Already have an account? Click here to sign in.</a>
    </div>
{% endblock %}
