{% extends "base.twig" %}

{% block head %}
    <title>Sign-in | PuzzleMania</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
{% endblock %}

{% block header %}
    <nav class="navbar">
        <!-- Logo and text -->
        <div class="navbar-logo">
            <img src="{{ full_url_for('home') }}assets/images/logo.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%; margin-right: 10px;">
            Welcome to PuzzleMania
        </div>
        <div class="dropdown">
            <button class="home-button">
                <a href="/">Go to Landing Page</a>
            </button>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p data-cy="sign-in__message" class="error">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    <div class="main-container box">
        <h1>Login</h1>
        <form data-cy="sign-in" action="{{ formAction }}" method="POST" id="login" accept-charset="utf-8">
            <label for="email">Email</label>
            <br/>
            <input data-cy="sign-in__email" type="text" name="email" placeholder="Enter your email"
                   value="{{ formData.email }}">
            {% if formErrors['email'] %}
                <p data-cy="sign-in__wrongEmail" class="error">{{ formErrors['email'] }}</p>
            {% endif %}
            <br/>
            <label for="password"> Password</label>
            <br/>
            <input data-cy="sign-in__password" type="password" name="password" placeholder="Enter your password">
            {% if formErrors['password'] %}
                <p data-cy="sign-in__wrongPassword" class="error">{{ formErrors['password'] }}</p>
            {% endif %}
            <br/>
            <input data-cy="sign-in__btn" type="submit" value="Sign-in" class="submit-button">
            <br/>
        </form>
        <br/>
        <a class="auth-switch" href="/sign-up">Don't have an account? Click here to register.</a>

    </div>

{% endblock %}